<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="card mt-2 mb-4">
        <div class="card-header">
            Game Statistics
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12" *ngIf="this.listGames.length === 0">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Hi {{this.nickName}}!</h4>
                        <p>You don't have registered games yet</p>
                        <hr>
                        <p class="mb-0"><a class="btn btn-sm btn-primary mt-2" [routerLink]="'/game'"><fa-icon [icon]="faPlus"></fa-icon> New Game</a></p>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="this.listGames.length > 0">
                  <div class="row">
                    <div class="col-md-3">
                      <label for="">Completed games</label>
                      <h5 class="text-black">{{this.data.completed}}</h5>
                    </div>
                    <div class="col-md-3">
                      <label for="">Incompleted games</label>
                      <h5 class="text-black">{{this.data.incompleted}}</h5>
                    </div>
                    <div class="col-md-3">
                      <label for="">Games wins</label>
                      <h5 class="text-black">{{this.data.wins}}</h5>
                    </div>
                    <div class="col-md-3">
                      <label for="">Games lose</label>
                      <h5 class="text-black">{{this.data.lose}}</h5>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" *ngIf="this.listGames.length > 0">
                  <hr>
                    <table class="table table-striped table-bordered table-hover table-sm">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">State</th>
                            <th scope="col">Result</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let el of this.listGames; index as i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{el.date | date}}</td>
                            <td>{{el.state === 1 ? 'Finalized' : 'Incomplete'}}</td>
                            <td>{{el.result}}</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
