<app-nav-bar></app-nav-bar>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="assets/img/ships.jpg" alt="..." />
        <h2 class="masthead-heading text-uppercase mb-0">welcome to Battleship Game!!!</h2>
        <p class="masthead-subheading font-weight-light mb-0">To start a game click <a class="btn btn-sm btn-secondary" [routerLink]="['/game']">here</a></p>
    </div>
</header>
<app-footer></app-footer>