$gray: #adafae;

.top {
	width: 320px;
	height: 330px;
	/*background: #008B8B;*/
	border-left: 1px solid black;
	border-bottom: 1px solid black;

}

.main {
	width: 700px;
	height: 800px;
	margin: auto;
}

.board {
	position: absolute;
	width: 380px;
	height: 390px;
	margin: 25px auto;
	border: 2px solid black;
	border-radius: 10px;
}

.displays {
	position: relative;
	margin: 25px;
}
.grid {
	position: absolute;
	width: 330px;
	height: 300px;
	background: rgba(0,0,0,0);
	margin-left: -3px;
	font-size: 0;
}

.aTops {
	width: 29px;
	height: 30px;
	background-color: $gray;
	border-top: 1px solid black;
	border-right: 1px solid black;
	color: #fff;
	display: table-cell;
	vertical-align: middle;

	font-weight: bold;
	text-align: center;
}

.points {
	position: relative;
	width: 29px;
	height: 30px;
	border-top: 1px solid black;
	border-right: 1px solid #000;
	display: inline-block;
    cursor: pointer;
}

.hidezero {
	color: $gray;
}

.hole {
	position: relative;
	width: 10px;
	height: 10px;
	margin: 9px;
	border: 1px solid #000;
	border-radius: 50%;
	display: table;
}

.aLeft {
	position: relative;
	width: 29px;
	height: 30px;
	background-color: $gray;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	display: block;
	line-height: 29px;

	font-weight: bold;
	color: #fff;
	text-align: center;
}

.carrier {
	background: rgba(36,36,36,1);
}

.cruiser {
	background: green;
}

.destroyer {
	background: blue;
}

.frigate {
	background: red;
}

.panel {
	float: right;
	width: 275px;
	height: 740px;
	margin-top: 25px;
}

.topPanel {
	width: 275px;
	height: 390px;
	border: 2px solid #fff;
	border-radius: 10px;
	display: inline-block;
}

.hit {
	position: relative;
	margin: 1.5px;
	width: 15px;
	height: 15px;
	top: 5px;
	left: 5px;

	background: rgb(220,10,10);
	border: 1px solid red;
	border-radius: 100%;
	overflow: hidden;

	display: table;

	animation-name: expand;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
 	animation-timing-function: linear;
 	animation-fill-mode: none;

	-webkit-animation-name: expand;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
 	-webkit-animation-timing-function: linear;
 	-webkit-animation-fill-mode: none;

 	-moz-animation-name: expand;
	-moz-animation-duration: 0.5s;
	-moz-animation-iteration-count: 1;
 	-moz-animation-timing-function: linear;
 	-moz-animation-fill-mode: none;
}

.miss {
	position: relative;
	margin: 1.5px;
	width: 15px;
	height: 15px;
	top: 5px;
	left: 5px;

	background: rgb(250,250,250);
	border: 1px solid white;
	border-radius: 100%;
	overflow: hidden;

	display: table;

	animation: expand;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
 	animation-timing-function: linear;
 	animation-fill-mode: none;

	-webkit-animation: expand;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
 	-webkit-animation-timing-function: linear;
 	-webkit-animation-fill-mode: none;

 	-moz-animation: expand;
	-moz-animation-duration: 0.5s;
	-moz-animation-iteration-count: 1;
 	-moz-animation-timing-function: linear;
 	-moz-animation-fill-mode: none;

}

@keyframes expand {
	0% {
		width: 0px;
		height: 0px;
		top: 12.5px;
		left: 12.5px;
	}
	50% {
		width: 25px;
		height: 25px;
		top: 0px;
		left: 0px;
	}
	100% {
		width: 15px;
		height: 15px;
		top: 5px;
		left: 5px;
	}
}

@-webkit-keyframes expand {
	0% {
		width: 0px;
		height: 0px;
		top: 12.5px;
		left: 12.5px;
	}
	50% {
		width: 25px;
		height: 25px;
		top: 0px;
		left: 0px;
	}
	100% {
		width: 15px;
		height: 15px;
		top: 5px;
		left: 5px;
	}
}

@-moz-keyframes expand {
	0% {
		width: 0px;
		height: 0px;
		top: 12.5px;
		left: 12.5px;
	}
	50% {
		width: 25px;
		height: 25px;
		top: 0px;
		left: 0px;
	}
	100% {
		width: 15px;
		height: 15px;
		top: 5px;
		left: 5px;
	}
}