<router-outlet></router-outlet>
<!--<app-nav-bar></app-nav-bar>
<section>
<div class="">
  
<div class="main">
  <div class="alert alert-success mt-2" role="alert" *ngIf="this.shifts === 0">
    game is <a href="javascript:" class="alert-link">finish!!!</a>
  </div>
  <div class="board">
    <div class="displays">
      <div class="top">
        <span *ngFor="let el of this.tops" [class]="el.class">{{el.name}}</span>
        <ul class="grid">
          <li *ngFor="let el of this.table; index as i" [id]="el.id" [class]="el.style" (click)="this.getId(el.id)"
            >
            <span class="hole" [ngClass]="{
              'miss': this.table[i].miss,
              'hit': this.table[i].hit
            }">{{i}}</span>
          </li>
        </ul>
        <span *ngFor="let el of this.lefts" [class]="el.class">{{el.name}}</span>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="topPanel">
      <div class="layout">
        <h6 class="text-black">Available Shifts: {{this.shifts}}</h6>
        <div class="alert alert-primary" role="alert" *ngIf="this.message != '' && this.shifts > 0">
          {{this.message}}
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="this.shifts === 0">
          No more available shifts
        </div>
      </div>
      </div>
  </div>
</div>

</div>
</section>
<footer></footer>-->